.table-container {
  min-width: 600px;
  height: 320px;
  overflow: auto;
}

.best-players__table {
  margin: 30px auto 0 auto;
  border-collapse: collapse;
  th, td {
    padding: 5px 10px;
    border: 1px solid $border-color;
    min-width: 100px;
    text-align: center;
  }
  thead {
    background: $border-color;
    color: #fff;
  }
  th {
    border: 1px solid #fff;
    padding: 15px;
  }
  tr:nth-child(2n) {
    background: $background-color;
  }
  tr:hover {
    background: $text-color;
    color: #fff;
  }
}
