$overlay-color: rgba(0, 0, 0, 0.7);
$border-color: #7f8591;
$text-color: #4d5158;
$background-color: #e5e5e5;

$background-color-dark: #231f20;
$border-color-dark: #544a4d;
$text-color-dark: #6d6064;
