.game-field {
  display: block;
  background: $background-color;
  border: 2px solid $border-color;
  order: -1;
}

.game-field.dark {
  background: $background-color-dark;
  border-color: $border-color-dark;
}
