.overlay {
  box-sizing: border-box;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $overlay-color;
  pointer-events: none;
  &.active {
    display: block;
    pointer-events: all;
  }
}
